body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    height:50px;
    background:rgb(228, 82, 63);
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    margin:0px auto;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.description {
    width: 100%;
    padding-bottom: 55px;
    line-height: 1.5em;
    color: #444444;
    background-color: #fff;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.question {
    width: 100%;
    line-height: 1.5em;
    color: #444444;
    background-color: #fff;
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    
    
}

.reponse {
    font-weight: 400;
}

.content {
    position:relative;
    top:48px;
    z-index: 1;
    margin: -15px;
}

.bottom-shadow {
    position:fixed;
    top:100%;
    left: 0px;
    width: 100%;
    height: 0px;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5); 
    z-index: 10;
}

.main-img {
    width: 100%;
    padding-bottom: 35px;
}

.img {
    width: 100%;
   
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    margin: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 40px;
    text-align: center
}

.main-description {
    margin-top: -50px;
    
}

.paragraph {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    position: relative;
    top: 20px;
}

.module {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.4)
        ),
        url(http://www.buddhabar.com/img/carousel/Slides/Restaurants/Manille/1.jpg);
    background-size: cover;
    width: 100%;
    margin-bottom: 35px;
    height: 500px;
    position: relative;
    float: left;
}

.titre-question {
    color : #F79F81;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.texte-question {
    margin: 20px;
}

.contenu {
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
}